@page "/users"
@rendermode InteractiveServer

<PageTitle>Users</PageTitle>

@if (_users == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="button-container">
		@if (_displayJsonUsers)
		{
			<button @onclick="SwitchUserSource" class="small-button">Switch to fake users</button>
		}
		else
		{
			<button @onclick="SwitchUserSource" class="small-button">Switch to JSON users</button>
		}
		<button @onclick="ShowAll" class="small-button">Show all</button>
		<button @onclick="SortById" class="small-button">Sort by ID</button>
		<button @onclick="SortByName" class="small-button">Sort by Name</button>

		@if (_displayJsonUsers)
		{
			<label class="current-data">Now shoing Json users</label>
		} else
		{
			<label class="current-data">Now showing fake users</label>
		}

		<div class="search-container">
			<input @bind="_searchInput" />
			<button @onclick="SearchString" class="search-button">Search</button>
		</div>
	</div>
	
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Street</th>
				<th>City</th>
				<th>Zipcode</th>
				<th>Company name</th>
				<th>Company catchphrase</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in _users)
			{
				<tr>
					<td>@user.Id</td>
					<td>@user.Name</td>
					<td>@user.Email</td>
					<td>@user.Address.Street</td>
					<td>@user.Address.City</td>
					<td>@user.Address.Zipcode</td>
					<td>@user.Company.Name</td>
					<td>@user.Company.CatchPhrase</td>
				</tr>				
			}
		</tbody>
	</table>
}

<style>

.search-container {
	display: flex;
	justify-content: flex-end; 
	gap: 0px; 
	width: 100%; 
}

.button-container {
	display: flex;
	justify-content: space-between; 
	width: 100%;
	align-items: center;
	column-gap: 10px;
	
}

.current-data {
	
	margin-left: 30px; 
	margin-right: 30px; 
	font-size: 16px; 
	font-style: italic;
	font-weight: bold;
	
	
}

.small-button {
	height: 50px; 
	font-size: 15px; 
	margin: 5px 0;

}


</style>